<link rel="stylesheet" href="/assets/css/cart.css">
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <!--/////////////////////////////////////////// Box Proflie Customer ////////////////////////////////////////////-->
            <div class="col-md-3">

                <nav class="col-md-8  bg-light sidebar vertical-nav">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item custom-btn">
                                <a class="nav-link active" href="#" style="text-align: justify;">
                                    <i class="bi bi-file"></i>&nbsp;คำสั่งซื้อ
                                </a>
                            </li>
                            <li class="nav-item custom-btn">
                                <a class="nav-link" href="#" style="text-align: justify;">
                                    <i class="bi bi-basket2"></i>&nbsp;สินค้า
                                </a>
                            </li>
                            <li class="nav-item custom-btn">
                                <a class="nav-link" href="#" style="text-align: justify;">
                                    <i class="bi bi-truck"></i> &nbsp;สถานะการจัดส่ง
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>





            <style>
                /* Add custom styles for the vertical navigation bar */
                .vertical-nav {
                    height: 100%;
                }

                .vertical-nav .nav-link {
                    padding: 15px;
                    text-align: center;
                }

                .vertical-nav .nav-item {
                    width: 100%;
                }


                .custom-btn:hover {
                    background-color: #e8e8e8;

                    color: #ffffff;
                }
            </style>

            <!--//////////////////////////////////////////////////// Box Proflie Customer ///////////////////////////////-->









            <!--//////////////////////////////// Box details รายการที่สั่งซื้อ /////////////////////////////////////////////-->

            <div class="col-md-9">

                <div class="card">
                    <div class="card-body">
                        <h4>ข้อมูลสินค้า</h4>

                        <div class="mb-3">
                            <label for="11" class="form-label">ชื่อสินค้า</label>
                            <input type="" class="form-control" id="11" placeholder="">
                        </div>

                        <div class="mb-3">
                            <label for="formFile" class="form-label">รูปภาพ</label>
                            <input class="form-control" type="file" id="formFile">
                        </div>


                        <div class="mb-3">
                            <label for="22" class="form-label">หมวดหมู่</label>
                            <input type="email" class="form-control" id="22" placeholder="">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">รายละเอียด</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>


                        <button type="button" class="btn btn-success">Save</button>



                    </div>

                 



                </div>
            </div>
        </div>