<link rel="stylesheet" href="/assets/css/cart.css">
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <!--/////////////////////////////////////////// Box Proflie Customer ////////////////////////////////////////////-->
            <div class="col-md-3">

                <div class="col-md-12 hover-effect"><i class="bi bi-person"></i>&nbsp;บัญชีของฉัน</div>
                <div class="col-md-12 hover-effect"><i class="bi bi-file"></i>&nbsp;การสั่งซื้อ</div>
                <div class="col-md-12 hover-effect"><i class="bi bi-house-add"></i>&nbsp;ข้อมูลที่อยู่ในการจัดส่ง</div>


            </div>
            <style>
                .hover-effect:hover {
                  background-color: #dfdfea; /* Change to the desired color */
                  color: #df2020; /* Change to the desired text color */
                }
              </style>

            <!--//////////////////////////////////////////////////// Box Proflie Customer ///////////////////////////////-->









            <!--//////////////////////////////// Box details รายการที่สั่งซื้อ /////////////////////////////////////////////-->

            <div class="col-md-9">
                <div class="card mb-2">
                    <div class="card-header flex-wrap">
                        <span class="float-end">(<strong style="color: rgb(10, 110, 49);">ชำเงินแล้ว</strong>) </span>
                        <h5 class="m-0">รายการสินค้า</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h3>
                                                    <a href="#" class="text-navy">
                                                        DF50
                                                    </a>
                                                </h3>
                                                <p class="small">
                                                    Flow cytometry (FCM) + Tri-angle laser scatter for WBC
                                                    differentiation
                                                    Impedance method for WBC, RBC and PLT test
                                                    Cyanide free colorimetry for HGB test
                                                    Latex-enhanced scattering immunoturbidimetry for CRP test
                                                </p>

                                                <!-- <dl class="small m-b-none">
                                                    <dt>Decout 5%</dt>
                                                    <dd>xxxx,xx</dd>
                                                </dl> -->

                                                <!-- <div class="m-t-sm"> </div> -->
                                            </td>

                                            <td>
                                                $180,00
                                                <s class="small text-muted">$230,00</s>
                                            </td>
                                            <td width="65">
                                                <input type="text" class="form-control" placeholder="1">
                                            </td>
                                            <td>
                                                <h4>
                                                    $180,00
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div class="col-md-12"
                                    style="background-color: antiquewhite; border-bottom: solid 1px #dcdcdc;"></div>


                                <div class="col-md-12" style="text-align: end; margin-top: 15px;">

                                    <i class="bi bi-cash"></i> &nbsp; รวมเป็นเงินทั้งสิน 200,000 บาท

                                </div>




                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>