<link rel="stylesheet" href="/assets/css/cart.css">
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <!--/////////////////////////////////////////// Box Proflie Customer ////////////////////////////////////////////-->
            <div class="col-md-3">

                <nav class="col-md-8  bg-light sidebar vertical-nav">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item custom-btn">
                                <a class="nav-link active" href="#" style="text-align: justify;">
                                    <i class="bi bi-file"></i>&nbsp;คำสั่งซื้อ
                                </a>
                            </li>
                            <li class="nav-item custom-btn " >
                                <a class="nav-link" href="#" style="text-align: justify;" aria-current="true">
                                    <i class="bi bi-basket2"></i>&nbsp;สินค้า
                                </a>
                            </li>
                            <li class="nav-item custom-btn">
                                <a class="nav-link" href="#" style="text-align: justify;">
                                    <i class="bi bi-truck"></i> &nbsp;สถานะการจัดส่ง
                                </a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>





            <style>
                /* Add custom styles for the vertical navigation bar */
                .vertical-nav {
                    height: 100%;
                }

                .vertical-nav .nav-link {
                    padding: 15px;
                    text-align: center;
                }

                .vertical-nav .nav-item {
                    width: 100%;
                }


                .custom-btn:hover {
                    background-color: #e8e8e8;

                    color: #ffffff;
                }
            </style>

            <!--//////////////////////////////////////////////////// Box Proflie Customer ///////////////////////////////-->









            <!--//////////////////////////////// Box details รายการที่สั่งซื้อ /////////////////////////////////////////////-->

            <div class="col-md-9">

                <div class="card" style="min-height: 100px;">

                    <nav class="bg-light">
                        <div class="container-fluid">
                            <div class="nav">
                                <a class="nav-link active" aria-current="page" href="#">เพิ่มสินค้า</a>
                                <a class="nav-link" href="#">สินค้าที่ถูกระงับ</a>
                                <a class="nav-link" href="#">สินค้าทั้งหมด</a>
                                <a class="nav-link" href="#"></a>
                            </div>
                        </div>
                    </nav>




                    <div class="card-body" style="margin-top: 20px; margin-left:20px;">
                        <div class="row">

                            <div class="col-md-6">
                                ประเภท
                                <div class="input-group mb-4">

                                    <select class="custom-select" id="inputGroupSelect02"
                                        style=" width:60%; border: 1px solid #eee;">
                                        <option selected>Search</option>
                                        <option value="1">ชื่อสินค้า</option>
                                        <option value="2">รหัสสินค้า</option>

                                    </select>
                                    <div class="input-group-append">
                                        <label class="input-group-text" for="inputGroupSelect02"><i
                                                class="bi bi-search"></i></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              
                    <div class="card" style="margin-top: 20px;">
                        <table class="table  table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">SKU</th>
                                    <th scope="col">ชื่อสินค้า</th>
                                    <th scope="col">ราคา</th>
                                    <th scope="col">คลัง</th>
                                    <th scope="col">แก้ไข</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>222,222</td>
                                    <td>100</td>
                                    <td><i class="bi bi-pencil-square"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>433333</td>
                                    <td>80</td>
                                    <td><i class="bi bi-pencil-square"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>433333</td>
                                    <td>80</td>
                                    <td><i class="bi bi-pencil-square"></i></td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>433333</td>
                                    <td>80</td>
                                    <td><i class="bi bi-pencil-square"></i></td>
                                </tr>
    
                            </tbody>
                        </table>
                    </div>
            

            </div>
        </div>
    </div>